# Dossier de configuration d'IDE
.idea/

# Environnement virtuel
venv/

# Fichiers de cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers journaux
*.log

# Configurations spécifiques de l'OS (ex. : macOS)
.DS_Store
