<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Créer un Coffre</title>
    <link
      href="{{ url_for('static', filename='css/create_coffre.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h2>Créer un nouveau Coffre</h2>
      <form method="post">
        <label for="nom">Nom du Coffre:</label>
        <input type="text" id="nom" name="nom" required />
        <label for="password">Mot de passe du Coffre:</label>
        <input type="password" id="password" name="password_coffre" required />
        <div class="password-strength">
          <span id="mdp_indicateur"></span>
        </div>
        <div class="password-message" id="msg"></div>
        <button type="submit">Créer le Coffre</button>
      </form>
      <a href="{{ url_for('dashboard') }}">Retourner au tableau de bord</a>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </div>
    <script src="{{ url_for('static', filename='js/robuste.js') }}"></script>

    <script>
      window.addEventListener("pageshow", function (event) {
        if (event.persisted) {
          window.location.reload();
        }
      });
    </script>
  </body>
</html>
