<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Déverrouiller le Coffre</title>
  </head>
  <body>
    <h2>Déverrouiller le Coffre : {{ coffre.nom_coffre }}</h2>
    <form method="post">
      <label for="password_coffre">Mot de passe du Coffre:</label>
      <input
        type="password"
        id="password_coffre"
        name="password_coffre"
        required
      />
      <br />
      <button type="submit">Déverrouiller</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul>
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </body>
</html>
