<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Entrées de Mot de Passe</title>
    <link
      href="{{ url_for('static', filename='css/password_entries.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h2>Entrées de Mot de Passe pour : {{ coffre.nom_coffre }}</h2>

      <h3>Vos Entrées de Mot de Passe</h3>
      <table class="entries-table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Login</th>
            <th>URL</th>
            <th>Mot de Passe</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for entry in entries %}
          <tr>
            <td>{{ entry.name }}</td>
            <td>{{ entry.login }}</td>
            <td>
              <a href="{{ entry.url }}" target="_blank">{{ entry.url }}</a>
            </td>
            <td>{{ entry.password }}</td>
            <td>
              <form
                method="post"
                action="{{ url_for('delete_password_entry', password_entry_id=entry.Id_PasswordEntry, coffre_id=coffre.Id_coffre) }}"
              >
                <button type="submit">supprimer</button>
              </form>
          </tr>
          {% else %}
          <tr>
            <td colspan="4">Aucune entrée de mot de passe trouvée.</td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <h3>Ajouter une Entrée de Mot de Passe</h3>
      <form
        method="post"
        action="{{ url_for('add_password_entry', coffre_id=coffre.Id_coffre) }}"
      >
        <label for="name">Nom:</label>
        <input type="text" id="name" name="name" required />
        <br />
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" required />
        <br />
        <label for="url">URL:</label>
        <input type="url" id="url" name="url" required />
        <br />
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required />
        <br />
        <button type="submit">Ajouter Entrée</button>
      </form>

      <a href="{{ url_for('dashboard') }}">Retourner au tableau de bord</a>

      <div class="messages">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
        <ul>
          {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %}
      </div>
    </div>

    <script>
      window.addEventListener("pageshow", function (event) {
        if (event.persisted) {
          window.location.reload();
        }
      });
    </script>
  </body>
</html>
